@model Carpfish.Web.ViewModels.Lakes.LakesListViewModel
@{
    this.ViewData["Title"] = "All Lakes";
}

<div class="row justify-content-center mb-3">
    <!-- Example single danger button -->
    <div class="col-sm">
        <select class="custom-select custom-select-sm">
            @if (Model.currStatus == "" || Model.currStatus == null)
            {
                <option selected>Statute</option>
            }
            @foreach (var type in Model.statusTypes)
            {
                @if (Model.currStatus == type)
                {
                    <option selected>@type</option>
                }
                else
                {
                    <option>@type</option>
                }
            }
        </select>
    </div>
    <div class="col-sm">
        <a asp-action="Add"><input class="btn btn-primary" value="Add Lake" /></a>
    </div>
</div>
<div class="row">
    @foreach (var lake in this.Model.Lakes)
    {
        <div class="card-deck col-md-4">
            <div class="card mb-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <img src="@lake.ImgUrl" class="card-img-top embed-responsive-item" alt="@lake.Name image">
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">@lake.Name</h5>
                    </div>
                    <div>
                        <i class="far fa-flag text-info"></i>
                        <span class="ml-2">@lake.CountryName</span>
                    </div>
                    <div>
                        <i class="fas fa-euro-sign @(lake.IsFree =="Free" ? "text-success" : "text-danger")"></i>
                        <span class="ml-2">@lake.IsFree</span>
                    </div>
                    <div>
                        <i class="far fa-star text-warning"></i>
                        <span class="ml-2">@lake.AverageRating.ToString("f1")</span>
                    </div>
                    <div class="text-center">
                        <a asp-action="ById" asp-route-id="@lake.Id" class="btn btn-primary mt-2">Show More</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />

@section Scripts{
    <script>
        $('.custom-select').change(function (e) {
            e.preventDefault();
            var type = $(this).val();
            window.location.href = window.location.pathname + '?type=' + type;

            console.log(window.location.pathname)
        });
    </script>
}