@model Carpfish.Web.ViewModels.Rigs.RigByIdViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<div class="row justify-content-center">
    <h2 class="text-center mr-5">@Model.Name</h2>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    </div>
    @*<div>
            <form method="post" asp-action="Delete" asp-route-id="@Model.Id" id="deleteForm"></form>
            <button class="btn btn-danger ml-2" data-toggle="modal" data-target="#deleteModal">Delete</button>
        </div>*@
</div>

<div class="mt-4">
    <div class="row no-gutters">
        <div class="col-md-6 embed-responsive embed-responsive-4by3">
            <img src="@Model.ImageUrl" class="card-img embed-responsive-item" alt="rig main img">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <ul class="row list-unstyled text-center">
                    <li class="col-sm mt-2">
                        <span class="text-secondary">Trophies</span>
                        <i class="fas fa-fish fa-lg text-secondary ml-2"><span class="ml-2">@Model.Trophies.Count()</span></i>
                    </li>
                    <li class="col-sm mt-2">
                        <span class="text-secondary">Steps</span>
                        <i class="fas fa-shoe-prints fa-lg text-secondary ml-2"><span class="ml-2">@Model.Steps.Count()</span></i>
                    </li>
                    <li class="col-sm mt-2">
                        <span class="text-secondary">Materials</span>
                        <i class="fas fa-toolbox fa-lg text-secondary ml-2"><span class="ml-2">@Model.Materials.Count()</span></i>
                    </li>
                </ul>
                <div class="card-text text-center mt-5">
                    <span class="font-weight-bold">Description</span>
                    <p class="mt-3">@Model.Description</p>
                </div>
            </div>
        </div>
    </div>

    @if (Model.Trophies.Count > 0)
    {
        <div class="text-center my-3">
            <h2>Trophies</h2>
            <div class="row mx-auto my-auto">
                <div id="rigCarousel" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner w-100" role="listbox">
                        @{
                            var trophyCount = 0;
                            foreach (var trophy in Model.Trophies)
                            {
                                <div class="carousel-item @(trophyCount == 0 ? "active" : "")">
                                    <div class="col-md-4">
                                        <div class="card card-body">
                                            <a asp-controller="Trophies" asp-action="ById" asp-route-id="@trophy.Id">
                                                <img class="img-fluid" src="@trophy.MainImage">
                                            </a>
                                            <div class="row text-center mt-2">
                                                <span class="col-6">
                                                    <i class="fas fa-weight-hanging text-info"></i>
                                                    <span class="card-text ml-2">@trophy.Weight.ToString("f3")</span>
                                                </span>
                                                <div class="col-6">
                                                    <i class="fas fa-water text-success"></i>
                                                    <a class="card-link"
                                                       asp-controller="Lakes"
                                                       asp-action="ById"
                                                       asp-route-id="@trophy.LakeId">@trophy.LakeName</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                trophyCount++;
                            }
                        }

                    </div>
                    <a class="carousel-control-prev w-auto" href="#rigCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next w-auto" href="#rigCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
                            }

    <div class="col mt-5 text-center">
        <h2>Needed Materials</h2>
        <ul class="d-flex flex-wrap list-unstyled text-center">
            @foreach (var material in Model.Materials.OrderBy(m => m.MaterialNumber))
            {
                <li class="col-lg-4 col-md-6 mt-4">
                    <h3><span class="badge badge-success">@material.Description</span></h3>
                </li>
            }
        </ul>
    </div>
    <div class="mt-5 text-center">
        <h2 class="mb-4">Create Rig</h2>
        <ul class="d-flex flex-wrap list-unstyled text-center">
            @foreach (var step in Model.Steps.OrderBy(x => x.StepNumber))
            {
                <li class="col-md-6 border border-info">
                    <h3>Step: @step.StepNumber</h3>
                    <div class="col embed-responsive embed-responsive-4by3">
                        <img src="@step.ImageUrl" class="card-img embed-responsive-item" alt="rig main img">
                    </div>
                    <p class="text-left font-italic">
                        @step.LessDescription
                        @if (step.MoreDescription.Length != 0)
                        {
                            <span class="text-dots">...</span>
                            <span class="text-more">@step.MoreDescription</span>
                        }
                    </p>
                    @if (step.MoreDescription.Length != 0)
                    {
                        <button class="btn-sm btn-success mb-2 readMoreBtn">Read more</button>
                    }

                </li>
            }
        </ul>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            Array.from(document.getElementsByClassName("readMoreBtn")).forEach(btn => {
                btn.addEventListener("click", function () {
                    ReadMore(this);
                }, false);
            });
        });

        function ReadMore(button) {
            var dots = button.parentElement.querySelector(".text-dots");
            var moreText = button.parentElement.querySelector(".text-more");

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                button.innerHTML = "Read more";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                button.innerHTML = "Read less";
                moreText.style.display = "inline";
            }
        }

        $('.carousel .carousel-item').each(function () {
            var minPerSlide = 3;
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i = 0; i < minPerSlide; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }

                next.children(':first-child').clone().appendTo($(this));
            }
        });
    </script>
}
