@model Carpfish.Web.ViewModels.Trophies.TrophiesListViewModel
@{
    this.ViewData["Title"] = "Throphies All";
}

<h1>@this.ViewData["Title"]</h1>
<div class="row justify-content-center">
    <a asp-action="Add"><input class="btn btn-primary" value="Add Trophy" /></a>
</div>

<div class="row mt-5">
    @foreach (var trophy in Model.Trophies)
    {
        <div class="card mb-3 col-sm-6">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="@trophy.MainImage" class="card-img" alt="trophy main image">
                    <a asp-controller="Trophies" asp-action="ById" asp-route-id="@trophy.Id" class="stretched-link"></a>
                </div>
                <div class="col-md-6">
                    <div class="card-body flex-fill">
                        <span class="d-inline-flex">
                            <i class="fas fa-weight-hanging text-info"></i>
                            <span class="card-text ml-2">@trophy.Weight.ToString("f3")</span>
                        </span>
                        <hr />
                        <div>
                            <i class="fas fa-water text-success"></i>
                            <a class="card-link"
                               asp-controller="Lakes"
                               asp-action="ById"
                               asp-route-id="@trophy.LakeId">@trophy.LakeName</a>
                        </div>
                        <hr />
                        <span class="d-inline-flex">
                            <i class="fas fa-user text-info fa-pull-left"></i>
                            <span class="card-text ml-2">@trophy.OwnerUserName</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />